::-webkit-scrollbar {
  /* display:none; */
}

.LandingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.Background {
  height: 100vh;
}
.itemRight::before{
  content: "\2002";
}

